@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import './styles/utils/breakpoints.scss';
@import './styles/utils/colors.scss';

@font-face {
  font-family: sport;
  src: url(./assets/fonts/Race-Sport.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: $black;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  cursor: pointer;
  padding-left: 0.75rem;
  padding-right: 2rem;
  min-width: 60px;
}

.goog-te-combo, .wallet-selector select{
  margin: 0;
  border-radius: 5px;
  border: 0px;
  box-shadow: inset 0px 1px 2px 1px #b8b7b5;
  padding: 7px 10px;
  background: #fff;
  display: block;
  border: 0;
  font-family: "Lato", sans-serif;
&:focus,
&:active {
  outline: none;
}
}

.mobile-link {
  .mobile-link-dropdown {
    display: none;
  }
  &:hover {
    .mobile-link-dropdown {
      display: block;
    }
  }
}

a.active {
  color: #1c73ba;
  div {
    color: #1c73ba;
  }
}

.scroll::-webkit-scrollbar {
  width: 0.4em;
}

.scroll::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
}

.file-upload::-webkit-file-upload-button {
  background-color: rgb(233, 233, 239);
  border: none;
  height: 100%;
  color: #495057;
}

.dataTables_length,
.dataTables_filter {
  margin-bottom: 10px;
}

.dataTables_paginate {
  padding-top: 0 !important;
  border: 1px solid #e9e9ef;
  margin-top: 10px;
}

.paginate_button.current {
  background-color: #fab40e !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #e9e9ef !important;
  color: #1c73ba !important;
  border-color: transparent !important;
}

table {
  border-collapse: collapse !important;
}

td,
th {
  border: 1px solid #e9e9ef;
}

.btn-yellow {
  background: rgb(255,229,187);
  background: linear-gradient(180deg, rgba(255,229,187,1) 0%, rgba(253,211,100,1) 100%);
  // border-radius: 10px;
  padding: 15px 34px;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  color: $black;
  // border-radius: 50px;
  font-weight: 900;
  cursor: pointer;
  border: 0;
  // transform: scale(1, 1);
  display: inline-block;
  transition: all 0.5s ease;
  font-family: "Lato", sans-serif;
  &:disabled {
      opacity: 0.8;
  }
  &:hover {
      background: rgb(255,229,187);
      background: linear-gradient(0deg, rgba(255,229,187,1) 0%, rgba(253,211,100,1) 100%);
      // transform: scale(1.1);
      transition: all 0.5s ease;
  }
}

.btn-black {
  background: rgb(49,49,49);
  background: linear-gradient(180deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
  // border-radius: 10px;
  padding: 15px 34px;
  text-transform: uppercase;
  font-size: 20px;
  border: 0;
  text-decoration: none;
  color: $white;
  // border-radius: 50px;
  font-weight: 900;
  // transform: scale(1, 1);
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
      background: rgb(49,49,49);
      background: linear-gradient(0deg, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 100%);
      // transform: scale(1.1);
      transition: all 0.5s ease;
  }
  &:disabled {
      opacity: 0.8;
  }
}

.form-element {
  label,
  input {
      display: block;
  }
  label {
      font-size: 14px;
      font-weight: 900;
      margin-bottom: 0.5rem;
  }
  input,
  select {
      // border-radius: 10px;
      padding: 5px 10px;
      box-shadow: inset 0px 1px 3px 2px #b8b7b5;
      font-weight: 900;
      font-size: 14px;
      height: 40px;
      width: 100%;
      border: 0;
      font-family: "Lato", sans-serif;
      &:focus {
          outline: none;
      }
  }
  select {
      width: 100%;
      option {
          font-weight: 900;
      }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

.error {
  color: $red;
}
.success {
  color: $green;
}

@media all and (max-width: $large) {
  .only-desktop {
      display: none;
  }
  .only-mobile {
      display: initial;
  }
}

@media all and (min-width: $large) {
  .only-mobile {
      display: none;
  }
  .only-desktop {
      display: initial;
  }
}

.react-responsive-modal-modal {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  .modal-body {
      max-height: 90vh;
      overflow-y: auto;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
  }
}


// animations starts here
.animation {
  opacity: 0;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
.fadeIn {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 1;
}
@keyframes translateAnimationLeft {
   0% {
       transform: translateX(-2000px);
       opacity: 0;
   }
   100% {
       transform: translateX(0);
       opacity: 1;
    }
}
@keyframes translateAnimationRight {
   0% {
       transform: translateX(2000px);
       opacity: 0;
   }
   100% {
       transform: translateX(0);
       opacity: 1;
    }
}
@keyframes translateAnimationBottom {
   0% {
       transform: translateY(2000px);
       opacity: 0;
   }
   100% {
       transform: translateY(0);
       opacity: 1;
    }
}
.fadeIn.fadeInLeft {
animation: translateAnimationLeft ease 1s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
opacity: 1;
}
.fadeIn.fadeInRight {
  animation: translateAnimationRight ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 1;
}

.fadeIn.fadeInBottom {
  animation: translateAnimationBottom ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes scaleAnimation {
  0% {
      transform: scale(1, 0);
      transform-origin: top;
  }
  100% {
      transform: scale(1, 1);
   }
}
.fadeIn.fadeInScale {
animation: scaleAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
opacity: 1;
}