@import '../../../styles/utils/colors.scss';
@import '../../../styles/utils/breakpoints.scss';

.lagacy-wrapper {
    background: $black;
    padding: 70px 0 90px;
    color: $white;
    @media all and (max-width: $large) {
        padding: 50px 10px;
    }
    .lagacy-title {
        font-family: sport;
        font-size: 77px;
        color: $text-yellow;
        line-height: 1;
        flex-grow: 1;
        span {
            display: block;
            -webkit-text-fill-color: $black; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $white;
            font-size: 51px;
        }
        @media all and (max-width: $large) {
            font-size: 40px;
            span {
                font-size: 40px;
            }
        }
    }
    .lagacy-game {
        &:nth-child(1) {
            animation-delay: 0.2s;
        }
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
        &:nth-child(4) {
            animation-delay: 0.5s;
        }
        &:nth-child(5) {
            animation-delay: 0.6s;
        }
    }
    .lagacy-game-active,
    .lagacy-game-disabled {
        align-items: center;
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        padding-bottom: 15px;
    }
    .lagacy-game-active {
        border-bottom: 2px solid $text-yellow;
        position: relative;
        &:after,
        &:before {
            content: '';
            height: 20px;
            width: 2px;
            background: $text-yellow;
            position: absolute;
            bottom: 0;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
        .lagacy-game-status {
            color: $text-yellow
        }
        @media all and (max-width: $large) {
            width: 100%;
            margin-bottom: 50px;
            justify-content: center;
            margin-top: 50px;
            .lagacy-game {
                width: 100%;
            }
        }
    }
    
    .lagacy-game-disabled {
        border-bottom: 2px solid $white;
        position: relative;
        margin-left: 5px;
        &:after {
            content: '';
            height: 20px;
            width: 2px;
            background: $white;
            position: absolute;
            bottom: 0;
        }
        &:after {
            right: 0;
        }
        @media all and (max-width: $large) {
            width: 100%;
            justify-content: center;
            
            &:before {
                content: '';
                height: 20px;
                width: 2px;
                background: $white;
                position: absolute;
                bottom: 0;
            }
            &:before {
                left: 0;
            }
            .lagacy-game {
                margin-bottom: 20px;
            }
        }
    }
    .lagacy-game-status {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: -25px;
        font-family: sport;
        font-size: 10px;
        text-transform: uppercase;
    }
}